.jumbotron {
    background-color: #eee;
    padding: 30px 20px 0;
    position: relative;
}

.ago {
    text-align: right;
    font-size: 12px;
    position: absolute;
    right: 20px;
    margin: 0;
    top: 10px;
}