.item {}
  .label { font-weight: normal;}
  .number {font-size: 30px; }
    .text {font-size: 30px;}
  .sub {}

.blink {
  animation: blink-animation 1s steps(3, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
