.pig {
  display: flex;
}

.header {
  flex: 0 0 150px;
  padding: 0 30px 0 0;
  align-items: center;
}

.image {
  flex: 0 0 150px;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 20px;
}
.gryzelda {
  border: 5px solid #ff9800;
}
.hrumhilda {
  border: 5px solid #03a9f4;
}
  .pigName {
    text-transform: uppercase;
    color: #aaa;
    font-size: 14px;
    margin:0 0 30px;
  }
  .pigWeight {
    font-size: 30px;
  }
  .pigLast {}
.chart {
  padding-top: 20px;
  background: #eee;
}
